@* View: CashReceipt/Index.cshtml *@
@model Accounting.Models.BankPaymentM
@{
    /* Page Layout */
    Layout = "_HorizontalLayout";
}

@section VendorStyles {
    @await Html.PartialAsync("_VendorStyles")
}

@section VendorScripts {
    @await Html.PartialAsync("_VendorScripts")
}

@section PageScripts {
    <script src="~/js/tooltip.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
    // Initialize first wizard step on page load
    $(document).ready(function () {
        $("#inner-step1").removeClass("d-none");
        $("#inner-step1-tab").addClass("active");
    });
</script>

<ebit-section p="0" m="0">
    <div id="wizardStepper" class="bs-stepper wizard-numbered" style="box-shadow:none;">

        <!-- Wizard Header (Hidden) -->
        <ebit-section class="bs-stepper-header d-none">
            <ebit-section class="step" data-target="#account-details">
                <ebit-button type="button" class="step-trigger"></ebit-button>
            </ebit-section>
            <ebit-section class="line"><i class="bx bx-chevron-right"></i></ebit-section>
            <ebit-section class="step" data-target="#personal-info">
                <ebit-button type="button" class="step-trigger"></ebit-button>
            </ebit-section>
        </ebit-section>

        <!-- Wizard Content -->
        <ebit-section class="bs-stepper-content p-0 m-0">

            @await Html.PartialAsync("_PageHeader", new Accounting.Models.PageHeaderVM
            {
                Title = "Bank Payment",
                        NewButtonText = "New",
                        SearchPlaceholder = "Search by voucher, Account,cheque, amount..."
                        })


            <!-- Table Section -->
            <ebit-section id="account-details" class="content">
                <ebit-section id="innerWizard" class="wizard">
                    <ebit-section class="wizard-content p-0 m-0">

                        <ebit-section id="inner-step1" class="wizard-step p-0 m-0">
                            <ebit-table id="masterTable" class="table bg-white mt-0 pt-0">
                                <ebit-head class="border-top" style="background-color:#F9FAFB;">
                                    <ebit-row>
                                        <ebit-headcolumn datafield="" render="edit" width="50px"></ebit-headcolumn>
                                        <ebit-headcolumn datafield="date" header="date"
                                                         width="15%">Date</ebit-headcolumn>
                                        <ebit-headcolumn datafield="voucher" header="voucher"
                                                         width="25%">Voucher</ebit-headcolumn>
                                      
                                        <ebit-headcolumn datafield="book" header="Account" width="15%">
                                            Account
                                        </ebit-headcolumn>

                                        <ebit-headcolumn datafield="cheque" header="cheque" width="15%">
                                            cheque
                                        </ebit-headcolumn>
                                        <ebit-headcolumn datafield="amount" header="amount" width="15%">
                                           Amount
                                        </ebit-headcolumn>
                                      
                                        <ebit-headcolumn datafield="" render="deleteprint" width="100px"></ebit-headcolumn>
                                    </ebit-row>
                                </ebit-head>
                                <ebit-footer>
                                    <ebit-row class="bg-white">
                                        <ebit-bodycolumn colspan="2">
                                            Total Records : <span id="totalRecords">0</span>
                                        </ebit-bodycolumn>
                                    </ebit-row>
                                </ebit-footer>
                            </ebit-table>
                        </ebit-section>

                    </ebit-section>
                </ebit-section>
            </ebit-section>

            <!-- Secondary Wizard Section -->
            <ebit-section id="personal-info" class="content p-0 px-5"></ebit-section>
        </ebit-section>
    </div>
</ebit-section>
<script type="module">
         // BankPayment.js
    import {
        initializeDataTable,
        goBackToList,
        handleCreateButton,
        handleDirectUrl,
        handleRowActions,
        initStepper
    } from '/Accounting/js/dataTableUtils.js';

    const BASE_PATH = '/Accounting/BankPayment';
    let table;

    $(document).ready(() => {
        initStepper();
        handleDirectUrl(BASE_PATH);
        handleCreateButton(BASE_PATH);

        table = initializeDataTable(`${BASE_PATH}/GetData`, '#masterTable', {
            callbacks: {
                onDraw: () => {
                    handleRowActions(BASE_PATH, {
                        onDelete: () => {
                            table.ajax.reload(null, false); //  refresh data without page reload
                        }
                    });

                    $('#totalRecords').text(table?.page.info().recordsDisplay || 0);
                }
            }
        });

        $(document).on('click', '#gobacktolistbtn', () =>
            goBackToList(table, BASE_PATH)
        );
    });


</script>