/* input and select style Start */
 .select2-container .select2-selection--single {
    border: none !important;
    box-shadow: none !important;
    height: var(--bs-form-select-height, 2.375rem);
/*    padding-left: var(--bs-form-select-padding-x, 0.75rem);*/
    display: flex;
    align-items: center;
    border-radius: 0 !important;
}

    .select2-container .select2-selection--single:hover {
        border: none !important;
        border-bottom: 1px solid #ced4da !important;
        box-shadow: none !important;
        height: var(--bs-form-select-height, 2.375rem);
        /*        padding-left: var(--bs-form-select-padding-x, 0.75rem);*/
        display: flex;
        align-items: center;
        border-radius: 0 !important;
    }

 .select2-selection__arrow {
    display: none;
}
.select2-selection .select2-selection--single .select2-selection__rendered{
    padding:0;
    padding-left:0;
}
.light-style .select2-container--default:not([dir=rtl]) .select2-selection--single .select2-selection__rendered {
     padding-left: 0; 
}
.select2-container .select2-selection--single:hover .select2-selection__arrow {
    display: block;
}

.form-control.no-border-input {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

    .form-control.no-border-input:hover {
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        box-shadow: none;
    }
    .form-control.no-border-input:focus {
        border-bottom: 1px solid #0d6efd;
        outline: none;
        box-shadow: none;
    }

/* input and select style End*/
/*.create-header {
    background-color: var(--bs-white);
}*/


.container-xxl {
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.344rem;
    padding-left: 0.344rem;
}

#ItemsTable > :not(caption) > * > * {
    font-size: 0.8375rem;
    padding: 0.5rem 1.25rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}
/*Total Section*/
.totals {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
}

.totals-box {
    display: flex;
    gap: 30px;
    padding: 12px 20px;
    min-width: 320px;
}

.label-col p,
.value-col p {
    margin: 6px 0;
    /*    font-size: 14px;*/
}

.label-col {
    width: 150px; /* adjust as needed */
    text-align: right;
}

.value-col {
    min-width: 150px; /* keeps numbers aligned */
    text-align: right;
}

.value-col p {
    text-align: right;
/*    color: #555;*/
}
/*Total Section end*/
.number {
    text-align: right;
}

/*Status*/
.status-wrap {
    display: inline-flex;
    /* border: 2px solid black; */
    border-radius: 0;
    overflow: hidden;
    font: 600 14px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    user-select: none;
}

.status {
    position: relative;
    min-width: 100px; /* ensures even width */
    height: 40px; /* fixed height */
    display: flex; /* flexbox for centering */
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal center */
    cursor: pointer;
    transition: color .2s, background .2s;
    background: #f2f3f5;
    color: rgba(55, 65, 81, 0.76);
    text-align: center;
    padding-left: 0px;
    border: none;
}

    /* Chevron effect for all except last */
    .status:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: -14px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 14px solid #f2f3f5;
        z-index: 2;
    }

    .status:not(:last-child)::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -18px;
        width: 0;
        height: 0;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        /* border-left: 18px solid black; */
        z-index: 1;
    }

    /* Active state */
    .status.active {
        background: #e6f2f3;
        color: black;
        font-weight: bold;
        border: none;
    }

        .status.active:not(:last-child)::after {
            border-left-color: #e6f2f3;
        }
/*Status*/
